/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 jun 2022, 11:32:44
    Author     : labtw04
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background: linear-gradient(115deg, rgba(0, 29, 61, 0.6), rgba(0, 53, 102, 0.9)),
    center/cover url("https://cdn.pixabay.com/photo/2015/08/19/01/58/abstract-895395_960_720.jpg") no-repeat;
}
.img {
    width: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
}
a {
    margin-left: 30px;
    color: #3c63cc;
    font-weight: 600;
}
a:hover {
    margin-left: 30px;
    color: #2fa1fd;
}
.modernForm {
    max-width: 1200px;
    display: flex;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
}
.imageSection {
    flex-basis: 50%;
    position: relative;
    color: white;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(96, 30, 150, 0.507);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    z-index: 0;
}
.textInside,
.service {
    position: absolute;
}
.textInside {
    bottom: 200px;
    right: 120px;
}
.tagLine {
    font-size: 1rem;
    font-weight: 600;
}
.price {
    font-size: 2rem;
    font-weight: 700;
}
.service {
    bottom: 30px;
    right: 50px;
}
.service p {
    font-weight: 700;
}

.contactForm {
    flex-basis: 45%;
    margin: auto;
    color: #555;
    padding-left: 30px;
}
.contactForm h1 {
    padding: 15px 0;
}
input[type="email"],
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: rgb(177, 177, 177) 1px solid;
    margin-top: 10px;
}
.name {
    position: relative;
    margin-bottom: 20px;
}
.iconName {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}
input[type="submit"] {
    background-color: #3c63cc;
    font-size: 1rem;
    border: none;
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    text-decoration: none;
    margin: 30px 0;
    cursor: pointer;
    float: left;
}
input[type="submit"]:hover {
    background-color: #2fa1fd;
}

@media only screen and (max-width: 768px) {
    .modernForm {
        flex-wrap: wrap;
    }
    .imageSection,
    .contactForm {
        flex-basis: 100%;
    }
    .overlay,
    img {
        border-bottom-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .contactForm {
        padding-right: 30px;
    }
}

    
/*Estilos nav bar */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*------------ Estilos card productos ----------------------*/
